$color-gray-1 = #EEF0F2
$color-gray-2 = #D2D4D5
$color-gray-3 = #B6B8B9
$color-gray-4 = #9B9B9C
$color-gray-5 = #F7F7F7
$color-gray-6 = #626466
$color-gray-7 = #46494C
$color-gray-8 = #292F33
$color-gray-9 = #0D1419

$color-orange-2 = #F8CAAD
$color-orange-3 = #F5A978
$color-orange-4 = #F18842
$color-orange-5 = #ED670D
$color-orange-6 = #BB500A
$color-orange-7 = #893907
$color-orange-8 = #562104
