@require '../common/*'

.dashboard
  p
    border-bottom 4px solid $color-orange-4
    padding-bottom 2em
  a
    border 2px solid #000
    color #000
    padding 0 6px
    &:hover
      border-color #00aaec
      color #00aaec
.twitter
  height 16px
