@font-face
  font-family 'Proxima'
  font-weight 300
  font-style normal
  src url('$static/fonts/proxima/proxima-light.woff2') format('woff')

@font-face
  font-family 'Proxima'
  font-weight normal
  font-style normal
  src url('$static/fonts/proxima/proxima-regular.woff2') format('woff')

@font-face
  font-family 'Proxima'
  font-weight 600
  font-style normal
  src url('$static/fonts/proxima/proxima-bold.woff2') format('woff')
